.App {
  text-align: center;
  /* border: 3px solid blue; */
  margin-top:5px;
}

#toggle{
 
}

.scoreboard {
  text-align: center;
  /* border: 3px solid blue; */
}

.team{
  display: inline-block;
  border: 3px dashed red;
  padding: 5px 100px;
  margin: 0 5%;
  /* margin: auto; */
  text-transform: uppercase;
  background-color: black;
}

.team h2{
  margin:auto;
  color: white;
}

.team h1{
  margin:auto;
  font-size: 100px; 
  color: red;
}

#teambtn{
  background-color: white;
}

#deletebtn{
  /* display: inline-block;
  margin-left: 0px; */
  /* float: right; */
  color:red;
  background-color: black;
  border: none;
  cursor: pointer;
}








 .teamA{
  display: inline-block;
  border: 3px dashed red;
  padding: 5px 100px;
  margin-right: 10%;
  /* margin: auto; */
  text-transform: uppercase;
  background-color: black;
}

.teamB{
  display: inline-block;
  border: 3px dashed red;
  padding: 5px 100px;
  /* margin: auto; */
  text-transform: uppercase;
  background-color: black;
}

.teamA h2, .teamB h2{
  margin:auto;
  color: white;
}

.teamA h1, .teamB h1{
  margin:auto;
  font-size: 100px; 
  color: red;
}

.teambtn{
  background-color: white;
}

.teamA label, .teamB label{
  color: white;
}